{% extends 'FriendBundle:User:getUserFriends.html.twig' %}
{% block body %}
    <p>User friends has been updated and reloaded.</p>
    <p>Current friends: </p>
    {% block friends %}
        {% include 'FriendBundle:User:partials/listUsers.html.twig' with { 'users': data } %}
    {% endblock friends %}
{% endblock body %}
